<p id="notice"><%= notice %></p>

<% @articles.each do |article| %>
  <div id=content_article>
    <%= link_to article do%>
      <h2><%= article.title %></h2>
    <% end %>

    <p><%= article.ingress %></p>

    <% if !article.body.blank? %>
      <%= link_to 'Read more', article %>
    <% end %>

      <p class=hidden>
        <%= link_to 'Edit', edit_article_path(article) %> 
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %> 
      </p>
  </div>
<% end %>

<br>

<%= link_to 'New Article', new_article_path %>
